<div id="main_container">
<h1>Date Lister</h1>
  <form id="new_activity_form">
    <input type="text" id="new_activity_input" name="new_activity_input" placeholder="enter activity">
    <button class="add_button">Add</button>
  </form>


</div>